---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import truckPic from "../assets/truck-bw.avif";
import ContactForm from "../components/ContactForm.astro";

const key = import.meta.env.public_maps;
---

<Layout title="SGL Trucking LTD. - Contact Us">
  <div
    class="h-[75vh] w-full flex justify-center items-center relative bg-zinc-600"
    id="hero"
  >
    <Image
      class="absolute h-full m-auto object-bottom object-cover"
      src={truckPic}
      alt="A black and white image of a truck driving on a road."
    />
    <div
      class="z-10 w-full text-center drop-shadow-[-10_1.2px_1.2px_rgba(255,255,255,0.8)] text-slate-100"
      id="hero-title"
    >
      <h1 class="text-4xl sm:text-6xl mb-2 z-10">Contact Us</h1>
      <p class="text-base md:text-2xl">Get in touch</p>
    </div>
  </div>
  <main class="h-auto text-stone-700 text-center">
    <div class="bg-stone-100 w-full flex justify-center">
      <div class="w-full py-12 max-w-[800px]">
        <div class="m-auto p-4">
          <div class="flex flex-col md:flex-row justify-between md:items-start">
            <div>
              <h2 class="text-stone-800 text-5xl pb-6">SGL Trucking Ltd.</h2>
              <h3 class="text-2xl font-semibold">Office Address:</h3>
              <div class="py-2">
                <p>SGL Trucking Ltd. Head Office</p>
                <p>Unit - 202, 11957 80<sup>th</sup>Ave,</p>
                <p>Delta, BC, V4C 0E2</p>
              </div>
            </div>

            <div>
              <h2 class="text-stone-800 text-3xl py-2 md:pb-2 font-medium">
                Contact Information
              </h2>

              <div class="py-2 flex justify-evenly flex-col md:text-left">
                <div class="pb-2">
                  <h3 class="text-xl font-medium">Office Phone:</h3>
                  <p>
                    <a href="tel:+1-604-572-1224"> +1-604-572-1224 </a>
                  </p>
                </div>
                <div>
                  <h3 class="text-xl font-medium">Email:</h3>
                  <p>
                    <a href="mailto:info@sgltrucking.com"
                      >info@sgltrucking.com</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="m-auto p-4 relative flex justify-center mb-6">
            <iframe
              width="600"
              height="450"
              style="border:0"
              loading="lazy"
              title="maps"
              allowfullscreen
              src={`https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ7RJIO23ZhVQRZcmKC6QsK8U&key=${key}`}
            ></iframe>
          </div>
          <ContactForm />
        </div>
        <!--  -->
      </div>
    </div>
    <div class="bg-sky-600 text-slate-50 w-full flex justify-center">
      <div class="py-12 max-w-[800px]">
        <div class="m-auto p-4 relative flex flex-col">
          <div class="h-4 absolute -top-14" id="careers"></div>
          <h2 class="text-4xl pb-6">Join our team!</h2>
          <p>Are you a Long Haul Truck Driver and looking to join our team?</p>
          <p>Do you have a Class 1 License with Air brake certificate?</p>
          <p>Do you have relevant driving experience in US and Canada?</p>
          <div>
            <button
              class="bg-amber-600 text-base py-2 px-6 rounded text-white transition-colors hover:bg-orange-500 mt-8"
            >
              <a href="#">Apply Today!</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  #hero-title {
    text-shadow: black 2px 2px 4px;
  }
</style>
