---
import Layout from "../layouts/Layout.astro";
import sglTruckingVideo from "../assets/SGL-Trucking-LTD.mp4";
---

<Layout title="SGL Trucking">
  <!-- HERO -->
  <div class="text-white relative h-[100vh] w-full">
    <video
      autoplay
      muted
      loop
      aria-label="DashCam footage of a truckers journey."
      class="absolute top-0 object-fill h-[100vh] w-full"
    >
      <source src={sglTruckingVideo} type="video/mp4" />
    </video>
    <div
      class="absolute bottom-1/4 w-full flex justify-center flex-col text-center"
    >
      <h1 class="font-bold text-6xl">SGL TRUCKING LTD.</h1>
      <p class="text-xl font-light">
        LOGISTICS AND TRUCKING COMPANY IN SURREY / DELTA, BRITISH COLUMBIA
      </p>
    </div>
  </div>
  <!-- HERO -->
  <main class="h-[200vh]">
    <h2 class="text-3xl">
      SGL Trucking Ltd. - Trucking Company in Surrey / Delta B.C.
    </h2>
    <p>
      SGL Trucking Ltd. is a Logistics and Trucking company based in Surrey /
      Delta B.C. Canada. It was established in 2010, since this time we have
      acquired experienced, professional employees/drivers who are constantly
      thriving for excellence. Their motivation has quickly turned this company
      into one of the largest transportation companies in The Greater Vancouver
      Region. SGL trucking Ltd. thrives on meeting our customers’ needs. Our
      experience have allowed us to provide our customers with reliable and on
      time service. SGL Trucking Ltd. understands that the transportation
      industry is constantly advancing and in order to remain competitive and
      effective we are continuously expanding our services.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
