---
import Layout from "../layouts/Layout.astro";
import sglTruckingVideo from "../assets/SGL-Trucking-LTD.mp4";
---

<Layout title="SGL Trucking">
  <!-- HERO -->
  <div class="text-white relative h-[100vh] w-full">
    <video
      autoplay
      muted
      loop
      aria-label="DashCam footage of a truckers journey."
      class="absolute top-0 object-fill h-[100vh] w-full"
    >
      <source src={sglTruckingVideo} type="video/mp4" />
    </video>
    <div
      class="absolute bottom-1/4 w-full flex justify-center flex-col text-center"
    >
      <h1 class="font-bold text-6xl">SGL TRUCKING LTD.</h1>
      <p class="text-xl font-light">
        LOGISTICS AND TRUCK TRANSPORT COMPANY IN SURREY / DELTA, BRITISH
        COLUMBIA
      </p>
    </div>
  </div>
  <!-- HERO -->
  <main class="h-[200vh]">
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
