---
import Layout from "../layouts/Layout.astro";
import sglTruckingVideo from "../assets/SGL-Trucking-LTD.mp4";
---

<Layout title="SGL Trucking">
  <!-- HERO -->
  <video src={sglTruckingVideo} autoplay="true"></video>
  <!-- HERO END -->
  <main class="h-[200vh]">
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
    <div>testing</div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
