<div
  class="w-full relative bg-frosted-glass-light rounded flex flex-col items-center"
>
  <div class="h-4 absolute -top-28" id="contact-form"></div>
  <h2 class="text-3xl bg-amber-800 text-stone-100 w-full py-2 rounded-t">
    Questions?
  </h2>
  <div class="px-8 py-4 sm:p-8">
    <form
      data-netlify="true"
      data-netlify-recaptcha="true"
      netlify-honeypot="true"
      name="Inquiries"
      method="post"
      class="flex flex-col items-center max-w-[80vw]"
    >
      <div class="flex w-full sm:py-2 flex-col sm:flex-row">
        <label class="flex flex-col text-left mr-1">
          First Name:
          <input
            aria-label="First Name"
            type="text"
            name="firstName"
            class="w-full rounded border border-slate-400 px-2 focus:outline-yellow-600"
            required
          />
        </label>
        <label class="flex flex-col text-left sm:ml-2">
          Last Name:
          <input
            aria-label="Last Name"
            type="text"
            name="lastName"
            class="w-full rounded border border-slate-400 px-2 focus:outline-yellow-600"
            required
          />
        </label>
      </div>
      <p class="hidden">
        <label>
          Dont fill this out, human: <input
            name="trap"
            aria-label="User ignore this field"
          /></label
        >
      </p>
      <div class="flex w-full py-2 flex-col sm:flex-row">
        <div class="flex flex-col sm:w-1/2">
          <label class="flex flex-col text-left mr-1">
            Email:
            <input
              aria-label="Email"
              class="rounded border border-slate-400 px-2 focus:outline-yellow-600"
              type="email"
              name="email"
              required
            />
          </label>
          <label class="flex flex-col text-left mr-1">
            Subject:
            <input
              class="rounded border border-slate-400 px-2 focus:outline-yellow-600"
              aria-label="Subject"
              type="text"
              name="subject"
              required
            />
          </label>
        </div>
        <div class="flex flex-col sm:w-1/2 justify-end">
          <label class="flex flex-col text-left ml-1">
            Message:
            <textarea
              aria-label="Message"
              class="h-full rounded border border-slate-400 px-2 focus:outline-yellow-600"
              rows={3}
              name="message"
              required></textarea>
          </label>
        </div>
      </div>
      <div data-netlify-recaptcha="true"></div>
      <button
        class="bg-amber-700 text-base py-2 px-6 mt-2 sm:mt-8 rounded text-white transition-colors hover:bg-orange-500"
      >
        SUBMIT
      </button>
    </form>
  </div>
</div>
