<div
  class="m-auto relative bg-frosted-glass-light rounded flex flex-col items-center"
>
  <div class="h-4 absolute -top-28" id="contact-form"></div>
  <h2 class="text-3xl bg-slate-300 w-full py-2 rounded-t">Questions?</h2>
  <div class="p-8">
    <p class="">Send us an email for general inquiries.</p>
    <form action="" method="post" class="flex flex-col items-center">
      <div class="flex w-full py-2">
        <label class="flex flex-col text-left mr-1">
          First Name:
          <input
            type="text"
            name="firstName"
            class="w-full rounded border border-slate-400"
            required
          />
        </label>
        <label class="flex flex-col text-left ml-2">
          Last Name:
          <input
            type="text"
            name="lastName"
            class="w-full rounded border border-slate-400"
            required
          />
        </label>
      </div>
      <div class="flex w-full py-2">
        <div class="flex flex-col w-1/2">
          <label class="flex flex-col text-left mr-1">
            Email:
            <input
              class="rounded border border-slate-400"
              type="email"
              name="email"
              required
            />
          </label>
          <label class="flex flex-col text-left mr-1">
            Subject:
            <input
              class="rounded border border-slate-400"
              type="text"
              name="subject"
              required
            />
          </label>
        </div>
        <div class="flex flex-col w-1/2 justify-end">
          <label class="flex flex-col text-left ml-1">
            Message:
            <textarea
              class="h-full rounded border border-slate-400"
              rows={3}
              name="message"
              required></textarea>
          </label>
        </div>
      </div>
      <button
        class="bg-amber-600 text-base py-2 px-6 rounded text-white transition-colors hover:bg-orange-500 mt-8"
      >
        SUBMIT
      </button>
    </form>
  </div>
</div>
