---
import Navigation from "./Navigation.astro";
import sglLogo from "../assets/sgl-Trucking.webp";
import { Image } from "astro:assets";
---

<fragment class="flex w-full fixed justify-center min-h-[11vh] z-10">
  <header
    class="bg-stone-100 w-11/12 flex justify-between items-center px-4 py-2 transition-all duration-1000 ease-in-out rounded-b-md border-b-2 border-x border-cyan-600 shadow-lg shadow-slate-700"
  >
    <span class="w-1/4 min-w-32 max-w-36">
      <Image src={sglLogo} alt="SGL Trucking LTD." />
    </span>

    <!-- button opens MobileMenu component, check file for script -->
    <button class="relative w-7 h-auto p-4" aria-label="Mobile menu button">
      <div
        class="md:hidden bg-gray-700 rounded-sm w-6 h-0.5 absolute top-0 left-0 after:content-[''] after:w-6 after:h-0.5 after:bg-gray-700 after:absolute after:top-2.5 after:left-0 before:content-[''] before:w-6 before:h-0.5 before:bg-gray-700 before:absolute before:top-5 before:left-0"
      >
      </div>
    </button>
    <fragment class="hidden md:flex w-full justify-end">
      <Navigation orientation="horizontal" />
    </fragment>
  </header>
</fragment>

<script>
  document.addEventListener("scroll", () => {
    const currY = window.scrollY;
    const header = document.querySelector("header");
    if (currY > 0 && !header?.classList.contains("w-full")) {
      header?.classList.add("w-full");
      header?.classList.remove("w-11/12");
    } else if (currY === 0 && header?.classList.contains("w-full")) {
      header.classList.remove("w-full");
      header?.classList.add("w-11/12");
    }
  });
</script>
