---
import Navigation from "./Navigation.astro";
---

<header
  class="bg-zinc-200 w-full min-h-[14vh] sticky top-0 flex justify-between items-center px-4"
>
  <div class="w-1/4">[logo goes here]</div>

  <!-- button opens MobileMenu component, check file for script -->
  <button class="sm:hidden bg-slate-50 rounded-sm p-2"> [ = ] </button>
  <fragment class="hidden sm:flex w-full justify-end">
    <Navigation orientation="horizontal" />
  </fragment>
</header>
