---
interface Props {
  orientation: "horizontal" | "vertical";
}

const { orientation } = Astro.props;
---

<nav class={` flex ${orientation === "vertical" && "flex-col"}`}>
  <a href="#" class="ml-2.5">Home</a>
  <a href="#" class="ml-2.5">About</a>
  <a href="#" class="ml-2.5">Our Services</a>
  <a href="#" class="ml-2.5">Contact Us</a>
</nav>
